In [12]:
import pandas as pd
import numpy as np
import time
from time import gmtime, strftime
import openpyxl

date = strftime("%Y-%m-%d", gmtime())

In [13]:
sf = pd.read_csv("sf_12.csv")
sf_sent = pd.read_csv("sf_12_sent.csv")

In [14]:
"""
so apparently out of fucking nowhere
there is a value 'temporary value' within the 'charge type' column
we need to get rid of any rows that have 'temp. value'. wtf.

we are adding the 3000원 later in the tax arranger script.
"""

sf.drop(sf.index[sf['Charge Type'] == 'Temporary Surcharge'], inplace=True)

In [15]:
sf.count()

NO.                                       762
Invoice Date                              762
Invoice NO.                               762
OurRef                                    762
Billing Date                              762
Pick-up Date                              763
Delivery Date                             375
Customer Reference                          2
Chargeable unit                           762
Chargeable Weight                         764
Product                                   762
Consignee Company Name                    762
Consignee Destination (Country/Region)    762
Destination City Name                     762
Destination City Code                     762
Destination Postal Code                   762
Consignee Contact Name                    762
Consignee Address                         762
Shipper Company Name                      762
Shipper Origin (Country/Region)           762
Origin City Name                          762
Original Network Code                     762
Origin Postal Code                        762
Shipper Contact Name                      762
Shipper Address                           763
Currency                                  763
Charge Type                               764
Charge Amount                             765
Discount Amount                           765
Deduction Amount                          765
GST / VAT Amount                          765
Net Amount                                765
dtype: int64

In [16]:
sf_sent.count()

序号         770
订单上传时间     770
Name       770
OurRef     770
代理运单号      752
业务类型       770
收方地址       770
收方城市       770
收方联系人      770
收方国家       770
收方电话       770
收件人邮箱      739
收方手机       770
到方公司       770
收方邮编       770
收方省份       770
寄方联系人      770
寄方省份       770
寄方地址       770
寄方城市       770
寄方邮编       770
寄方手机       770
寄方电话       770
寄方公司       770
是否带电       770
货物总重量      770
真实的重量      770
体积重          0
计费重        770
货物申明价值     770
英文申报品名1    770
中文申报品名1     29
货物数量1      770
货物单位重量1    770
货物单位价值1    770
英文申报品名2     29
中文申报品名2      0
货物数量2        0
货物单位重量2      0
货物单位价值2      0
英文申报品名3      0
中文申报品名3      0
货物数量3        0
货物单位重量3      0
货物单位价值3      0
dtype: int64

In [17]:
sf = sf[["OurRef", "Net Amount"]]
sf_sent = sf_sent[["OurRef", "Name"]]

In [18]:
sf.head()

            OurRef Net Amount
0  SF6043280121257      9,900
2  SF6043280121196      7,100
4  SF6043280121105     10,000
6  SF6043280121239     11,000
8  SF6043280039979     15,200

In [19]:
sf_sent.head()

            OurRef             Name
0  SF6043280891147  #DBB100467563KR
1  SF6043280891129  #DBB100467774KR
2  SF6043280891110  #DBB100467821KR
3  SF6043280891101  #DBB100467770KR
4  SF6043280891086  #DBB100467648KR

In [20]:
sf_merged = sf.merge(sf_sent, on=['OurRef'], how='inner')
sf_merged.head()

            OurRef Net Amount             Name
0  SF6043280890821     15,200  #DBB100467765KR
1  SF6043280890673     12,100  #DBB100467614KR
2  SF6043280890812      8,600  #DBB100467720KR
3  SF6043280891040      8,600  #DBB100467796KR
4  SF6043280890955     13,100  #DBB100467560KR

In [21]:
sf_merged.count()

OurRef        709
Net Amount    709
Name          709
dtype: int64

In [22]:
sf_merged.to_csv('sf_12_merged.csv')