In [816]:
import pandas as pd
import numpy as np
import time
from time import gmtime, strftime
import openpyxl

date = strftime("%Y-%m-%d", gmtime())

In [817]:
'''
this is the files from shopify
'''
number_files = ['orders_export_1.csv', 'orders_export_2.csv']

df_combined = (pd.read_csv(f, delimiter=',', encoding='utf-8-sig') for f in number_files)
df = pd.concat(df_combined, ignore_index=True)

df.head()

C:\ProgramData\Anaconda3\envs\pythonProject1\lib\site-packages\pandas\core\reshape\concat.py:348: DtypeWarning: Columns (53) have mixed types.Specify dtype option on import or set low_memory=False.
  objs = list(objs)

,Name,Email,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,...,Tax 4 Value,Tax 5 Name,Tax 5 Value,Phone,Receipt Number,Duties,Billing Province Name,Shipping Province Name,Payment Terms Name,Next Payment Due At
0,#DBB100470881KR,louisa.zieger@web.de,paid,2021-12-27 09:32:11 -0500,unfulfilled,NaN,no,USD,52.96,19.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,#DBB100470881KR,louisa.zieger@web.de,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,#DBB100470881KR,louisa.zieger@web.de,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,#DBB100470880KR,Hillygirly11@gmail.com,paid,2021-12-27 08:47:08 -0500,unfulfilled,NaN,no,USD,23.97,9.99,...,NaN,NaN,NaN,NaN,NaN,NaN,Missouri,Missouri,NaN,NaN
4,#DBB100470880KR,Hillygirly11@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [818]:
df.to_csv('combined_file.csv')

In [819]:
print('Total count before the transformation: ' + str(df['Lineitem quantity'].sum()))

Total count before the transformation: 35347

In [820]:
dfs = df[['Name', 'Created at', 'Fulfilled at', 'Vendor', 'Lineitem name', 'Lineitem sku', 'Lineitem quantity', 'Lineitem price',
           'Discount Amount', 'Taxes', 'Subtotal', 'Shipping', 'Total']]
dfs.head()

,Name,Created at,Fulfilled at,Vendor,Lineitem name,Lineitem sku,Lineitem quantity,Lineitem price,Discount Amount,Taxes,Subtotal,Shipping,Total
0,#DBB100470881KR,2021-12-27 09:32:10 -0500,NaN,GQ Korea,[Pre-Order] GQ Korea January Issue (Cover: BTS...,Magazine - 160189 - GQ Korea - 지큐 2022.01 (표지:...,1,25.99,0.0,0.0,52.96,19.99,72.95
1,#DBB100470881KR,2021-12-27 09:32:10 -0500,NaN,Route,Route Package Protection - $0.98,ROUTEINS10,1,0.98,NaN,NaN,NaN,NaN,NaN
2,#DBB100470881KR,2021-12-27 09:32:10 -0500,NaN,Vogue Korea,[Pre-Order] Vogue Korea January Issue (Cover: ...,Magazine - 160184 - Vogue Korea - 보그 2022.01 (...,1,25.99,NaN,NaN,NaN,NaN,NaN
3,#DBB100470880KR,2021-12-27 08:47:07 -0500,NaN,Vogue Korea,[Pre-Order] Vogue Korea January Issue (Cover: ...,Magazine - 160183 - Vogue Korea - 보그 2022.01 (...,1,25.99,3.0,0.0,23.97,9.99,33.96
4,#DBB100470880KR,2021-12-27 08:47:07 -0500,NaN,Route,Route Package Protection - $0.98,ROUTEINS10,1,0.98,NaN,NaN,NaN,NaN,NaN

In [821]:
dfs['Total(no discount)'] = round(dfs['Lineitem price'].groupby(dfs['Name']).transform('sum'), 2)
dfs.head()

C:\Users\jaesu\AppData\Local\Temp/ipykernel_36200/1350768295.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs['Total(no discount)'] = round(dfs['Lineitem price'].groupby(dfs['Name']).transform('sum'), 2)

,Name,Created at,Fulfilled at,Vendor,Lineitem name,Lineitem sku,Lineitem quantity,Lineitem price,Discount Amount,Taxes,Subtotal,Shipping,Total,Total(no discount)
0,#DBB100470881KR,2021-12-27 09:32:10 -0500,NaN,GQ Korea,[Pre-Order] GQ Korea January Issue (Cover: BTS...,Magazine - 160189 - GQ Korea - 지큐 2022.01 (표지:...,1,25.99,0.0,0.0,52.96,19.99,72.95,52.96
1,#DBB100470881KR,2021-12-27 09:32:10 -0500,NaN,Route,Route Package Protection - $0.98,ROUTEINS10,1,0.98,NaN,NaN,NaN,NaN,NaN,52.96
2,#DBB100470881KR,2021-12-27 09:32:10 -0500,NaN,Vogue Korea,[Pre-Order] Vogue Korea January Issue (Cover: ...,Magazine - 160184 - Vogue Korea - 보그 2022.01 (...,1,25.99,NaN,NaN,NaN,NaN,NaN,52.96
3,#DBB100470880KR,2021-12-27 08:47:07 -0500,NaN,Vogue Korea,[Pre-Order] Vogue Korea January Issue (Cover: ...,Magazine - 160183 - Vogue Korea - 보그 2022.01 (...,1,25.99,3.0,0.0,23.97,9.99,33.96,26.97
4,#DBB100470880KR,2021-12-27 08:47:07 -0500,NaN,Route,Route Package Protection - $0.98,ROUTEINS10,1,0.98,NaN,NaN,NaN,NaN,NaN,26.97

In [822]:
dfs.loc[dfs.duplicated(['Name']), 'Total(no discount)'] = np.nan

C:\ProgramData\Anaconda3\envs\pythonProject1\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [823]:
dfs = dfs[['Name', 'Created at', 'Fulfilled at', 'Vendor', 'Lineitem name', 'Lineitem sku', 'Lineitem quantity',
           'Lineitem price', 'Discount Amount', 'Taxes', 'Subtotal', 'Shipping', 'Total', 'Total(no discount)']]
dfs.head()

,Name,Created at,Fulfilled at,Vendor,Lineitem name,Lineitem sku,Lineitem quantity,Lineitem price,Discount Amount,Taxes,Subtotal,Shipping,Total,Total(no discount)
0,#DBB100470881KR,2021-12-27 09:32:10 -0500,NaN,GQ Korea,[Pre-Order] GQ Korea January Issue (Cover: BTS...,Magazine - 160189 - GQ Korea - 지큐 2022.01 (표지:...,1,25.99,0.0,0.0,52.96,19.99,72.95,52.96
1,#DBB100470881KR,2021-12-27 09:32:10 -0500,NaN,Route,Route Package Protection - $0.98,ROUTEINS10,1,0.98,NaN,NaN,NaN,NaN,NaN,NaN
2,#DBB100470881KR,2021-12-27 09:32:10 -0500,NaN,Vogue Korea,[Pre-Order] Vogue Korea January Issue (Cover: ...,Magazine - 160184 - Vogue Korea - 보그 2022.01 (...,1,25.99,NaN,NaN,NaN,NaN,NaN,NaN
3,#DBB100470880KR,2021-12-27 08:47:07 -0500,NaN,Vogue Korea,[Pre-Order] Vogue Korea January Issue (Cover: ...,Magazine - 160183 - Vogue Korea - 보그 2022.01 (...,1,25.99,3.0,0.0,23.97,9.99,33.96,26.97
4,#DBB100470880KR,2021-12-27 08:47:07 -0500,NaN,Route,Route Package Protection - $0.98,ROUTEINS10,1,0.98,NaN,NaN,NaN,NaN,NaN,NaN

In [824]:
dfs.count()

Name                  33211
Created at            33211
Fulfilled at          14302
Vendor                33001
Lineitem name         33211
Lineitem sku          32459
Lineitem quantity     33211
Lineitem price        33211
Discount Amount       17248
Taxes                 17248
Subtotal              17248
Shipping              17248
Total                 17248
Total(no discount)    17248
dtype: int64

In [825]:
'''
file is from SF
'''
sf = pd.read_csv('sf_12_merged.csv', delimiter=',', encoding='utf-8-sig')
sf.head()

   Unnamed: 0           OurRef Net Amount             Name
0           0  SF6043280890821     15,200  #DBB100467765KR
1           1  SF6043280890673     12,100  #DBB100467614KR
2           2  SF6043280890812      8,600  #DBB100467720KR
3           3  SF6043280891040      8,600  #DBB100467796KR
4           4  SF6043280890955     13,100  #DBB100467560KR

In [826]:
sf.rename(columns={"Net Amount":"Shipping cost"}, inplace=True)
sf.head()

   Unnamed: 0           OurRef Shipping cost             Name
0           0  SF6043280890821        15,200  #DBB100467765KR
1           1  SF6043280890673        12,100  #DBB100467614KR
2           2  SF6043280890812         8,600  #DBB100467720KR
3           3  SF6043280891040         8,600  #DBB100467796KR
4           4  SF6043280890955        13,100  #DBB100467560KR

In [827]:
sf = sf.drop(columns=['OurRef'])
sf.head()

   Unnamed: 0 Shipping cost             Name
0           0        15,200  #DBB100467765KR
1           1        12,100  #DBB100467614KR
2           2         8,600  #DBB100467720KR
3           3         8,600  #DBB100467796KR
4           4        13,100  #DBB100467560KR

In [828]:
# sf['Name'] = '#' + sf['Name'].astype(str)
# sf.head()

In [800]:
sf = sf.drop(columns=["Unnamed: 0"])
sf

    Shipping cost             Name
0          15,200  #DBB100467765KR
1          12,100  #DBB100467614KR
2           8,600  #DBB100467720KR
3           8,600  #DBB100467796KR
4          13,100  #DBB100467560KR
..            ...              ...
704        14,200  #DBB100469783KR
705        14,100  #DBB100469774KR
706        14,200  #DBB100470361KR
707        14,100  #DBB100469826KR
708        14,200  #DBB100470380KR

[709 rows x 2 columns]

In [801]:
sf["Shipping cost"] = sf["Shipping cost"].str.replace(',', '')
sf["Shipping cost"] = sf["Shipping cost"].astype(int) + 3000

In [802]:
sf

     Shipping cost             Name
0            18200  #DBB100467765KR
1            15100  #DBB100467614KR
2            11600  #DBB100467720KR
3            11600  #DBB100467796KR
4            16100  #DBB100467560KR
..             ...              ...
704          17200  #DBB100469783KR
705          17100  #DBB100469774KR
706          17200  #DBB100470361KR
707          17100  #DBB100469826KR
708          17200  #DBB100470380KR

[709 rows x 2 columns]

In [803]:
'''
file 3 is from dhl
'''
"""file 3"""

file_3_list = ['dhl_12.csv']

df_from_each_file = (pd.read_csv(f, delimiter=',', encoding='utf-8-sig') for f in file_3_list)
file_3 = pd.concat(df_from_each_file, ignore_index=True)
file_3.head()

,고객번호,인보이스,발송일자,송장번호,상품코드,상품,발송국가,발송도시,발송지 CODE,도착국가,...,운임할인금액,보험금액,유류할증료,유류할증료할인금액,기타금액1,기타금액1 항목,기타금액2,기타금액2 항목,총금액,통화
0,590558505.0,SELR002819621,2021-11-30,8.459554e+09,P,EXPRESS WORLDWIDE nondoc,"KOREA, REPUBLIC OF (SOUT",SEOUL,SEL,UNITED ARAB EMIRATES,...,0,0,"5,789",0.0,150,EMERGENCY SITUATION,NaN,NaN,"34,736",KRW
1,590558505.0,SELR002819621,2021-12-03,8.332662e+09,P,EXPRESS WORLDWIDE nondoc,"KOREA, REPUBLIC OF (SOUT",SEOUL,SEL,UNITED ARAB EMIRATES,...,0,0,"5,819",0.0,300,EMERGENCY SITUATION,NaN,NaN,"34,916",KRW
2,590558505.0,SELR002819621,2021-12-13,6.197338e+09,P,EXPRESS WORLDWIDE nondoc,"KOREA, REPUBLIC OF (SOUT",BUSAN AND SOUTHEAST,PUS,UNITED ARAB EMIRATES,...,0,0,"6,632",0.0,600,EMERGENCY SITUATION,NaN,NaN,"39,791",KRW
3,590558505.0,SELR002819621,2021-12-16,2.122278e+09,P,EXPRESS WORLDWIDE nondoc,"KOREA, REPUBLIC OF (SOUT",SEOUL,SEL,AUSTRIA,...,0,0,"3,422",0.0,750,EMERGENCY SITUATION,NaN,NaN,"20,534",KRW
4,590558505.0,SELR002819621,2021-11-24,7.873810e+09,P,EXPRESS WORLDWIDE nondoc,"KOREA, REPUBLIC OF (SOUT",SEOUL,SEL,AUSTRALIA,...,0,0,"4,392",0.0,"5,600",EMERGENCY SITUATION,NaN,NaN,"26,354",KRW

In [804]:
file_3.rename(columns={"Reference" : "Name", "총금액" : "Shipping cost", }, inplace=True)
file_3.head()

,고객번호,인보이스,발송일자,송장번호,상품코드,상품,발송국가,발송도시,발송지 CODE,도착국가,...,운임할인금액,보험금액,유류할증료,유류할증료할인금액,기타금액1,기타금액1 항목,기타금액2,기타금액2 항목,Shipping cost,통화
0,590558505.0,SELR002819621,2021-11-30,8.459554e+09,P,EXPRESS WORLDWIDE nondoc,"KOREA, REPUBLIC OF (SOUT",SEOUL,SEL,UNITED ARAB EMIRATES,...,0,0,"5,789",0.0,150,EMERGENCY SITUATION,NaN,NaN,"34,736",KRW
1,590558505.0,SELR002819621,2021-12-03,8.332662e+09,P,EXPRESS WORLDWIDE nondoc,"KOREA, REPUBLIC OF (SOUT",SEOUL,SEL,UNITED ARAB EMIRATES,...,0,0,"5,819",0.0,300,EMERGENCY SITUATION,NaN,NaN,"34,916",KRW
2,590558505.0,SELR002819621,2021-12-13,6.197338e+09,P,EXPRESS WORLDWIDE nondoc,"KOREA, REPUBLIC OF (SOUT",BUSAN AND SOUTHEAST,PUS,UNITED ARAB EMIRATES,...,0,0,"6,632",0.0,600,EMERGENCY SITUATION,NaN,NaN,"39,791",KRW
3,590558505.0,SELR002819621,2021-12-16,2.122278e+09,P,EXPRESS WORLDWIDE nondoc,"KOREA, REPUBLIC OF (SOUT",SEOUL,SEL,AUSTRIA,...,0,0,"3,422",0.0,750,EMERGENCY SITUATION,NaN,NaN,"20,534",KRW
4,590558505.0,SELR002819621,2021-11-24,7.873810e+09,P,EXPRESS WORLDWIDE nondoc,"KOREA, REPUBLIC OF (SOUT",SEOUL,SEL,AUSTRALIA,...,0,0,"4,392",0.0,"5,600",EMERGENCY SITUATION,NaN,NaN,"26,354",KRW

In [805]:
dhl = file_3[['Name', 'Shipping cost']]
dhl

                 Name Shipping cost
0     #DBB100467693KR        34,736
1     #DBB100467452KR        34,916
2     #DBB100466991KR        39,791
3     #DBB100468375KR        20,534
4     #DBB100464362KR        26,354
...               ...           ...
2933  #DBB100461571KR        23,592
2934  #DBB100461646KR        23,592
2935  #DBB100467768KR        20,904
2936  #DBB100469964KR        19,348
2937              NaN    80,298,333

[2938 rows x 2 columns]

In [806]:
"""
merging dhl with sf
"""

"""concatenate all 3 files"""
combined_purchase = pd.concat([dhl, sf])
combined_purchase.head()

              Name Shipping cost
0  #DBB100467693KR        34,736
1  #DBB100467452KR        34,916
2  #DBB100466991KR        39,791
3  #DBB100468375KR        20,534
4  #DBB100464362KR        26,354

In [807]:
combined_purchase.count()

Name             3646
Shipping cost    3647
dtype: int64

In [808]:
"""merging file"""
merged = dfs.merge(combined_purchase, on=['Name'], how='inner')
merged.head()

,Name,Created at,Fulfilled at,Vendor,Lineitem name,Lineitem sku,Lineitem quantity,Lineitem price,Discount Amount,Taxes,Subtotal,Shipping,Total,Total(no discount),Shipping cost
0,#DBB100470879KR,2021-12-27 07:38:32 -0500,NaN,LUVCRUSH,Yumi's Cells / Space Rabbit T-Shirt - M,K-Drama - 90320 - LUVCRUSH - 스페이스래빗 티셔츠 - M - DA,1,56.99,0.0,0.00,56.99,9.99,66.98,56.99,11500
1,#DBB100470869KR,2021-12-27 02:36:48 -0500,NaN,Route,Route Package Protection - $0.98,ROUTEINS10,1,0.98,0.0,4.35,60.97,9.99,75.31,60.97,13900
2,#DBB100470869KR,2021-12-27 02:36:48 -0500,NaN,BLACKPINK,BLACKPINK Official Light Stick Ver.2 (Limited ...,Lightstick - 120049 - BLACKPINK - 블랙핑크 공식 응원봉 ...,1,59.99,NaN,NaN,NaN,NaN,NaN,NaN,13900
3,#DBB100470864KR,2021-12-27 01:38:58 -0500,NaN,GQ Korea,[Pre-Order] GQ Korea January Issue (Cover: BTS...,Magazine - 160189 - GQ Korea - 지큐 2022.01 (표지:...,1,25.99,5.0,0.00,20.99,9.99,30.98,25.99,17200
4,#DBB100470862KR,2021-12-27 01:29:04 -0500,NaN,GQ Korea,[Pre-Order] GQ Korea January Issue (Cover: BTS...,Magazine - 160189 - GQ Korea - 지큐 2022.01 (표지:...,1,25.99,0.0,2.27,25.99,9.99,38.25,25.99,17200

In [809]:
merged.count()

Name                  7074
Created at            7074
Fulfilled at          3206
Vendor                6987
Lineitem name         7074
Lineitem sku          6950
Lineitem quantity     7074
Lineitem price        7074
Discount Amount       3454
Taxes                 3454
Subtotal              3454
Shipping              3454
Total                 3454
Total(no discount)    3454
Shipping cost         7074
dtype: int64

In [810]:
# merged = merged[merged['Created at'].notna()]

In [811]:
merged.count()

Name                  7074
Created at            7074
Fulfilled at          3206
Vendor                6987
Lineitem name         7074
Lineitem sku          6950
Lineitem quantity     7074
Lineitem price        7074
Discount Amount       3454
Taxes                 3454
Subtotal              3454
Shipping              3454
Total                 3454
Total(no discount)    3454
Shipping cost         7074
dtype: int64

In [812]:
merged.loc[merged.duplicated(['Name']), 'Shipping cost'] = np.nan

In [813]:
merged.count()

Name                  7074
Created at            7074
Fulfilled at          3206
Vendor                6987
Lineitem name         7074
Lineitem sku          6950
Lineitem quantity     7074
Lineitem price        7074
Discount Amount       3454
Taxes                 3454
Subtotal              3454
Shipping              3454
Total                 3454
Total(no discount)    3454
Shipping cost         3454
dtype: int64

In [814]:
merged.head()

,Name,Created at,Fulfilled at,Vendor,Lineitem name,Lineitem sku,Lineitem quantity,Lineitem price,Discount Amount,Taxes,Subtotal,Shipping,Total,Total(no discount),Shipping cost
0,#DBB100470879KR,2021-12-27 07:38:32 -0500,NaN,LUVCRUSH,Yumi's Cells / Space Rabbit T-Shirt - M,K-Drama - 90320 - LUVCRUSH - 스페이스래빗 티셔츠 - M - DA,1,56.99,0.0,0.00,56.99,9.99,66.98,56.99,11500
1,#DBB100470869KR,2021-12-27 02:36:48 -0500,NaN,Route,Route Package Protection - $0.98,ROUTEINS10,1,0.98,0.0,4.35,60.97,9.99,75.31,60.97,13900
2,#DBB100470869KR,2021-12-27 02:36:48 -0500,NaN,BLACKPINK,BLACKPINK Official Light Stick Ver.2 (Limited ...,Lightstick - 120049 - BLACKPINK - 블랙핑크 공식 응원봉 ...,1,59.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,#DBB100470864KR,2021-12-27 01:38:58 -0500,NaN,GQ Korea,[Pre-Order] GQ Korea January Issue (Cover: BTS...,Magazine - 160189 - GQ Korea - 지큐 2022.01 (표지:...,1,25.99,5.0,0.00,20.99,9.99,30.98,25.99,17200
4,#DBB100470862KR,2021-12-27 01:29:04 -0500,NaN,GQ Korea,[Pre-Order] GQ Korea January Issue (Cover: BTS...,Magazine - 160189 - GQ Korea - 지큐 2022.01 (표지:...,1,25.99,0.0,2.27,25.99,9.99,38.25,25.99,17200

In [815]:
merged.to_csv("Dec_revised2.csv", encoding='utf-8-sig')